<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="card">
        <div class="card-body">
            <p class="card-text text-center">
                    <strong>{{ text_detail }}</strong>
            <p class="text-center">
                    {{ email }}
                </p>
                {{ forgot_password_code }}
                <form method="post">
{#                    <a class="text-center verify-button" href="{{ domain}}{% url 'forgot' email forgot_password_code %}">#}
{#                        <button type="button" class="btn">#}
{#                            Recavery password#}
{#                        </button>#}
{#                    </a>#}
                </form>
            </p>
        </div>
    </div>
</body>
</html>